$theme-toggle-size: 32px;

.themeToggle {
  border-radius: 50%;
  background: var(--color-brand-background-muted);
  min-height: $theme-toggle-size;
  min-width: $theme-toggle-size;
  margin-left: -4px;

  &:hover {
    background: color-mix(
      in oklab, var(--color-brand-foreground) 10%, transparent
    );
  }
}

.themeToggleIconSun {
  color: var(--color-brand-warning);
}